name: Label PRs

on:
  pull_request_target:
    types: [opened, reopened, edited]

jobs:
  label-pr:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
    - uses: srvaroa/labeler@master
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
