name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *'

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had any recent activity. Remove stale label or comment or this will be closed in 7 days. Thank you for your contributions.'
          stale-pr-message: 'This pull request has been automatically marked as stale because it has not had any recent activity. Remove stale label or comment or this will be closed in 7 days. Thank you for your contributions.'
          days-before-stale: 30
          days-before-close: 7
          exempt-issue-labels: 'package request'
