name: tests
on:
  pull_request: {}
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
defaults:
  run:
    shell: bash
jobs:
  test-on-ubuntu:
    strategy:
      matrix:
        OS: ["ubuntu:latest", "ubuntu:devel", "ubuntu:rolling"]
        PACSTALL_VERSION: ["master", "develop"]
      fail-fast: false
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.OS }}
      env:
        TERM: xterm
        shell: bash
        USER: dio
        LOGNAME: dio
        DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Install System Utilities
        run: |
          dpkg --add-architecture i386
          apt-get update
          apt-get install apt-utils curl bash wget git sudo iputils-ping keyboard-configuration lsb-release desktop-file-utils -y
          ln -fs /usr/share/zoneinfo/Africa/Libreville /etc/localtime
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      - id: checkout
        uses: actions/checkout@v3
      - id: files
        uses: jitterbit/get-changed-files@v1
      - name: Check for Pacscript changes
        run: |
          touch .no-pacscript-changes
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              rm -f .no-pacscript-changes
              break
            fi
          done
      - name: Setup Test User
        run: |
          useradd -rm -d /home/$USER -s /bin/bash -g root -G sudo -u 1001 $USER
          sudo sed -i "s/%sudo\tALL=(ALL:ALL) ALL/%sudo\tALL=(ALL) NOPASSWD:ALL/g" /etc/sudoers
          chown -R $USER /tmp
          chmod -R 777 /tmp
      - name: Installing Pacstall
        run: |
          [[ -f .no-pacscript-changes ]] && exit ||:
          export SUDO_USER=$USER
          curl -fsSL https://git.io/JsADh > pacstall-install.sh
          chmod +x ./pacstall-install.sh
          echo N\n | sudo -E ./pacstall-install.sh
          rm ./pacstall-install.sh
          pacstall -U pacstall ${{ matrix.PACSTALL_VERSION }}
          ls -lad /tmp/pacstall
        shell: sudo -E -u dio bash {0}
        env:
          SUDO_USER: dio
      - name: Installing Packages
        run: |
          [[ -f .no-pacscript-changes ]] && exit ||:
          export SUDO_USER=$USER
          curl -fsSL https://git.io/JsADh > pacstall-install.sh
          export DEBIAN_FRONTEND=noninteractive
          export GITHUB_ACTIONS=true
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              pacscript_file=`basename "${changed_file}"`
              package_name="${pacscript_file/.pacscript/ }"
              package_dir=`dirname "${changed_file}"`
              echo "Running pacstall -I for ${package_name}..."
              echo "pacstall -I ${package_name}"
              cd ${package_dir}
              pacstall --disable-prompts -I ${pacscript_file}
            fi
          done
        shell: sudo -E -u dio bash {0}
        env:
          DEBIAN_FRONTEND: noninteractive
      - name: Uninstalling Packages
        run: |
          [[ -f .no-pacscript-changes ]] && exit ||:
          export SUDO_USER=$USER
          export DEBIAN_FRONTEND=noninteractive
          export GITHUB_ACTIONS=true
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              pacscript_file=`basename "${changed_file}"`
              package_name="${pacscript_file/.pacscript/ }"
              package_dir=`dirname "${changed_file}"`
              echo "Running pacstall -R for ${package_name}..."
              cd ${package_dir}
              pacstall --disable-prompts -R ${package_name}
            fi
          done
        shell: sudo -E -u dio bash {0}
        env:
          DEBIAN_FRONTEND: noninteractive

  test-on-debian:
    strategy:
      matrix:
        OS: ["debian:stable", "debian:testing", "debian:unstable"]
        PACSTALL_VERSION: ["master", "develop"]
      fail-fast: false
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.OS }}
      env:
        TERM: xterm
        shell: bash
        USER: dio
        LOGNAME: dio
        DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Install System Utilities
        run: |
          dpkg --add-architecture i386
          apt-get update
          apt-get install apt-utils curl bash wget git sudo iputils-ping keyboard-configuration lsb-release desktop-file-utils -y
          ln -fs /usr/share/zoneinfo/Africa/Libreville /etc/localtime
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      - id: checkout
        uses: actions/checkout@v3
      - id: files
        uses: jitterbit/get-changed-files@v1
      - name: Check for Pacscript changes
        run: |
          touch .no-pacscript-changes
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              rm -f .no-pacscript-changes
              break
            fi
          done
      - name: Setup Test User
        run: |
          useradd -rm -d /home/$USER -s /bin/bash -g root -G sudo -u 1001 $USER
          sudo sed -i "s/%sudo\tALL=(ALL:ALL) ALL/%sudo\tALL=(ALL) NOPASSWD:ALL/g" /etc/sudoers
          chown -R $USER /tmp
          chmod -R 777 /tmp
      - name: Installing Pacstall
        run: |
          [[ -f .no-pacscript-changes ]] && exit ||:
          export SUDO_USER=$USER
          curl -fsSL https://git.io/JsADh > pacstall-install.sh
          chmod +x ./pacstall-install.sh
          echo N\n | sudo -E ./pacstall-install.sh
          rm ./pacstall-install.sh
          pacstall -U pacstall ${{ matrix.PACSTALL_VERSION }}
          ls -lad /tmp/pacstall
        shell: sudo -E -u dio bash {0}
        env:
          SUDO_USER: dio
      - name: Installing Packages
        run: |
          [[ -f .no-pacscript-changes ]] && exit ||:
          export SUDO_USER=$USER
          curl -fsSL https://git.io/JsADh > pacstall-install.sh
          export DEBIAN_FRONTEND=noninteractive
          export GITHUB_ACTIONS=true
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              pacscript_file=`basename "${changed_file}"`
              package_name="${pacscript_file/.pacscript/ }"
              package_dir=`dirname "${changed_file}"`
              echo "Running pacstall -I for ${package_name}..."
              echo "pacstall -Il ${package_name}"
              cd ${package_dir}
              pacstall --disable-prompts -I ${pacscript_file}
            fi
          done
        shell: sudo -E -u dio bash {0}
        env:
          DEBIAN_FRONTEND: noninteractive
      - name: Uninstalling Packages
        run: |
          [[ -f .no-pacscript-changes ]] && exit ||:
          export SUDO_USER=$USER
          export DEBIAN_FRONTEND=noninteractive
          export GITHUB_ACTIONS=true
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              pacscript_file=`basename "${changed_file}"`
              package_name="${pacscript_file/.pacscript/ }"
              package_dir=`dirname "${changed_file}"`
              echo "Running pacstall -R for ${package_name}..."
              cd ${package_dir}
              pacstall --disable-prompts -R ${package_name}
            fi
          done
        shell: sudo -E -u dio bash {0}
        env:
          DEBIAN_FRONTEND: noninteractive
