name: tests
on:
  pull_request:
    paths:
      - 'packages/**/*.pacscript'
defaults:
  run:
    shell: bash
jobs:
  install-package:
    strategy:
      matrix:
        OS: ["ubuntu:latest", "ubuntu:devel", "ubuntu:rolling", "debian:stable", "debian:testing", "debian:unstable"]
        PACSTALL_VERSION: ["master", "develop"]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.OS }}
      env:
        TERM: xterm
        shell: bash
        USER: dio
        LOGNAME: dio
        DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Install System Utilities
        run: |
          apt-get update
          apt-get install apt-utils curl bash wget git sudo iputils-ping -y
      - id: checkout
        uses: actions/checkout@v2
      - id: files
        uses: jitterbit/get-changed-files@v1
      - name: Setup Test User
        run: |
          useradd -rm -d /home/$USER -s /bin/bash -g root -G sudo -u 1001 $USER
          sudo sed -i "s/%sudo\tALL=(ALL:ALL) ALL/%sudo\tALL=(ALL) NOPASSWD:ALL/g" /etc/sudoers
          chown -R $USER /tmp
          chmod -R 777 /tmp
      - name: Installing Pacstall
        run: |
           curl -fsSL https://git.io/JsADh > pacstall-install.sh
           chmod +x ./pacstall-install.sh
           echo N\n | sudo ./pacstall-install.sh
           rm ./pacstall-install.sh
           sudo -u $USER pacstall -U pacstall ${{ matrix.PACSTALL_VERSION }}
      - name: Installing Packages
        run: |
          export DEBIAN_FRONTEND=noninteractive
          for changed_file in ${{ steps.files.outputs.added_modified }}; do
            if [[ ${changed_file} == *".pacscript" ]]; then
              pacscript_file=`basename "${changed_file}"`
              package_name="${pacscript_file/.pacscript/ }"
              package_dir=`dirname "${changed_file}"`
              echo "Running pacstall -I for ${package_name}..."
              echo "pacstall -Il ${package_name}"
              cd ${package_dir}
              pacstall --disable-prompts -Il ${package_name}
            fi
          done
        shell: sudo -u dio bash {0}
        env:
          DEBIAN_FRONTEND: noninteractive
